@model lampbae_final_project.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<body background="/Content/Blue_Light.jpg" style="background-size:cover;background-attachment:fixed">
    <div>
        <text align="center">
            <h2 style="color:white;">@ViewBag.Title</h2>
            <div>
                <form action="/Home/NewLamp">
                    <input type="submit" value="New Lamp" style="background-color:white" /><br />
                </form>
            </div>
            <br />
            <div>
                <form action="/UserListings/Index">
                    <input type="submit" value="My Lamps" style="background-color:white" /><br />
                </form>
            </div>
            <br />
            <div>
                <form action="/Friends/Index">
                    <input type="submit" value="My Friends" style="background-color:white" /><br />
                </form>
            </div>
            <br />
            <p class="text-success">@ViewBag.StatusMessage</p>
    </div>
    <div>
        <h4 style="color:white;">Change your account settings</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt style="text-align:center; color:white;">Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>

            <dt style="text-align:center; color:white;">External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>
            @*
                Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                 See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                 Uncomment the following block after you have set up two-factor authentication
            *@
            @*
                <dt>Phone Number:</dt>
                <dd>
                    @(Model.PhoneNumber ?? "None")
                    @if (Model.PhoneNumber != null)
                    {
                        <br />
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                        using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                        }
                    }
                    else
                    {
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                    }
                </dd>
            *@
            @*<dt>Two-Factor Authentication:</dt>
                <dd>
                    <p>
                        There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                        for details on setting up this ASP.NET application to support two-factor authentication.
                    </p>*@
            @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }*@
            </dd>
        </dl>
    </div>
</body>