@model lampbae_final_project.Models.Favorite

@{
    ViewBag.Title = "Delete";
}
<body background="/Content/Blue_Light.jpg" style="background-size:cover;background-attachment:fixed">
    <div style="text-align:center">
    <h2  style="color:white">Delete</h2>

    <h3 style="color:white;margin-left:450px;margin-right:450px">Are you sure you want to delete this?</h3>
    <div style="text-align:center">
        <h4 style="color:white">Favorite</h4>
        <hr />
        <dl>


            <dt class="dl-horizontal" style="color:white;background-color:darkslateblue;margin-left:650px;margin-right:650px">
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd class="dl-horizontal" style="color:white;">
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt class="dl-horizontal" style="color:white;background-color:darkslateblue; margin-left:650px;margin-right:650px">
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd class="dl-horizontal" style="color:white;">
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt class="dl-horizontal" style="color:white;background-color:darkslateblue;margin-left:650px;margin-right:650px">
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd class="dl-horizontal" style="color:white;">
                <img src="@Html.DisplayFor(model => model.Image)" />
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" style = "color:crimson;" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
        </div>
</body>