@model lampbae_final_project.Models.Favorite

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Favorite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemSearchURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemSearchURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Listing.EbayItemNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Listing.EbayItemNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FavoriteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
