@model IEnumerable<lampbae_final_project.Models.Favorite>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemSearchURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Listing.EbayItemNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.UserID == User.Identity.Name)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemSearchURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Listing.EbayItemNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FavoriteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FavoriteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FavoriteID })
        </td>
    </tr>

    }
}

</table>
