@model lampbae_final_project.Models.Friend

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Friend</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConnectionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
