@model IEnumerable<lampbae_final_project.Models.Friend>

@{
    ViewBag.Title = "Friends";
}
<body background="/Content/Images/lampbaeback.png">
    <div align="center">
        <h2>My Friends</h2>
        <br />
        @Html.ActionLink("Add New Friend", "Create")
        <table class="table">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.UserID1 == User.Identity.Name)
                        {
                        }
                        else
                        {
                        
                            @item.UserID1 
                        }
                        @if (item.UserID2 == User.Identity.Name)
                        {
                        }
                        else
                        {
                            @item.UserID2
                        }
                    </td>
                    <td>
                        <t>@Html.ActionLink("Remove Friend", "Delete", new { id = item.ConnectionID })</t>
                        @if (item.UserID1 == User.Identity.Name)
                        {
                            @Html.ActionLink("View Liked Lamps", "FriendLampList", new { friendID = item.UserID2 })
                        }
                        else
                        {
                            @Html.ActionLink("View Liked Lamps", "FriendLampList", new { friendID = item.UserID1 })
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
    </body>