
@{
    ViewBag.Title = "LinkImage";
}

<body background="/Content/Blue_Light.jpg" style="background-size:cover;background-attachment:fixed">
    <text align="center">
        <div>
            <h2 style="color:white; margin-left: 500px; margin-right:500px">
                @ViewData["Name"]<br />
            </h2>
        </div>
        <div style="margin: 0 auto; width: 656px; text-align: center;">
            <img src="@ViewData["ImageURL"]" type="image" alt="Lamp Bae" style="border:1px #ccc solid;
    padding:3px;
  image-rendering: pixelated;" />
        </div>
        <text align="center">
            <div>
                <h3 style="color:white;background-color:darkslateblue; margin-left: 600px; margin-right:600px"> @ViewData["Price"]<br /> </h3>
            </div>
            <br />
            <text align="center">
                <div>
                   <h4 style="color:white;background-color:darkslateblue; margin-left: 600px; margin-right:600px"> Contact Info: </h4> 
                    <h4 style="color:white"> @ViewData["ContactInfo"] </h4>
                </div>
                <div>

                    <input type="hidden" value="@ViewData["CurrentLampID"]" id="lampID" />
                    <input type="button" value="Add to Favorites" onclick="addToFavs()" style="background-color:wheat"/>
                    <text id="FavoriteConfirmation" style="font-family:'Times New Roman', Times, serif, Times, serif; fon">

                        <small>
                            @ViewBag.FavoriteConfirmation
                        </small>
                    </text>
                </div>
</body>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    function addToFavs() {
        $.ajax({
            type: "POST",
            url: "/Home/GetAddToFavorites",
            data: '{lampID: "' + document.getElementById("lampID").value + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                var m = response
                document.getElementById("FavoriteConfirmation")
                    .innerHTML = m;
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

    };
</script>